/* FormComponent.css */
.form-containerr {
    width: 850px;
    margin: 20px auto;
    padding: 20px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0efef;
  }
  
  .form-fieldd {
    margin-bottom: 15px;
  }
  
  .form-fieldd label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-fieldd select,
  input {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    margin-top: 3px;
    background-color: transparent;
    border-color: black;
  }
  
  .side-by-side1 {
    display: flex;
  }
  
  .side-by-side1 label {
    width: 460px;
    margin-right: 10px;
  }
  
  .side-by-side1 select,
  .side-by-side1 input {
    width: calc(300px);
    margin-bottom: 20px;
  }
  