.login-Signup-container {
    display: grid;
    grid-template-columns: 60% 40% 60%;
    width: 60%;
    height: 400px;
    background-color: #ffffff;
    padding: 0px;
    border-radius: 30px;
    box-shadow: 0 2px 5px gray;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: 0.3s linear;
  }
  
  .login-Signup-container.active {
    grid-template-columns: 0% 40% 60%;
    transition: 0.3s linear;
  }
  
  .login-Signup-container .side-div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    background-image: url("https://i.imgur.com/37yw5Uw.png");
    background-size: 350px 350px;
    background-repeat: no-repeat;
  }
  
  .login-Signup-container .side-div button {
    border: #ffffff;
    color: blue;
    background-color: #ffffff;
    cursor: pointer;
  }
  
  .login-Signup-container .side-div button:hover {
    text-decoration: underline;
  }
  